@page "/"

<Navbar></Navbar>

<section class="Section bg-bgDefaultAlt mt-5vh flex-column align-center">
    <div class="Main-Banner">

    </div>
    <div class="BannerSeperator"></div>
    <div class="Main-BannerCaption flex-row justify-center align-center">
        <h1 class="text-bgcolor fontSize-5vh dropShadow-Soft_gray-0_1vh mt-0">Welcome to Recipaldinio!</h1>
    </div>
</section>

<section id="aboutus" class="Section bg-bgDefaultAlt flex-column align-center justify-center">
    <div class="flex-column h-90p bg-midDefault w-90p borderRad-2vh justify-evenly outset-gray-1vh align-center">
        <h1 class="text-bgcolor fontSize-4_5vh m-0 dropShadow-Soft_gray-0_1vh">About Us</h1>
        <div class="flex-row h-80p w-90p bg-bgDefaultAlt borderRad-1vh inset-grey-1vh justify-evenly align-center">
            <div class="w-50p h-90p flex-row justify-center align-center">
                <img class="w-80p dropShadow-Soft_grey-0_2vh" src="Images/Logo.png"/>
            </div>
            <div class="w-50p h-90p flex-row justify-center align-center">
                <p class="w-80p h-100p fontSize-2_25vh text-black flex-column justify-center fontfam-pacifico">The project began to take shape quite accidentally when the creators, during a practice session, suddenly realized they didn't know what project to work on. After some deliberation, they settled on creating a recipe website. The main goal of this site is to assist users in choosing and preparing dishes. The team working on the project consists of two members: Eivazly Ilkin and Nick Helmers. The creators poured their hearts and souls into this project, and they sincerely hope you will enjoy this application!</p>
            </div>
        </div>
    </div>
</section>
<section id="recipe" class="Section recipeSection bg-bgDefault flex-column align-center h-90vh justify-center">
    <img src="Images/Test.png" class="topperImage"/>
    <div class="flex-column justify-evenly align-center borderRad-2_5vh bg-bgDefaultAlt mt-5vw w-50p h-80p inset-gray-1_5vh">
        <h1 class="flex-row h-30p w-60p fontSize-5vh text-bgcolor dropShadow-Soft_gray-0_1vh justify-center align-end alignText-end">Recipe Creator/Viewer</h1>
        <div class="flex-row justify-center align-start h-30p w-50p">
            <button onclick="window.location.href = '/recipepage'" class="w-90p h-30p flex-row align-center justify-center bg-midDefault borderRad-2vh text-bgcoloralt fontSize-3vh cursor-pointer"><span class="ml-2vw">Go there!</span>  <span class="material-symbols-outlined ml-1vw">arrow_forward</span></button>
        </div>
    </div>
</section>


@code{



}
