@page "/"

<section class="Section bg-bgDefaultAlt flex-column align-center">
    <div class="Main-Banner">

    </div>
    <div class="BannerSeperator"></div>
    <div class="Main-BannerCaption">

    </div>
</section>
<section id="aboutus" class="Section bg-bgDefaultAlt flex-column align-center justify-center">
    <div class="flex-column h-90p bg-midDefault w-90p borderRad-2vh justify-evenly outset-gray-1vh align-center">
        <h1 class="text-white fontSize-3_5vh m-0 dropShadow-Soft_black-0_2vh">About Us</h1>
        <div class="flex-row h-80p w-90p bg-bgDefaultAlt borderRad-1vh inset-grey-1vh justify-evenly align-center">
            <div class="w-50p h-90p flex-row justify-center align-center">
                <img class="w-80p dropShadow-Soft_grey-0_2vh" src="Images/Logo.png"/>
            </div>
            <div class="w-50p h-90p flex-row justify-center align-center">
                <p class="w-80p fontSize-2vh text-black">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            </div>
    </div>
</section>


@code{



}
<Navbar></Navbar>

