@page "/"

<section class="Section flex-column align-center">
    <div class="Main-Banner">

    </div>
    <div class="BannerSeperator"></div>
    <div class="Main-BannerCaption">

    </div>
</section>


@code{



}