@page "/recipepage"

<Navbar></Navbar>

<section class="mt-10vh flex-column align-center Section">
    <div class="w-60p flex-row">
        <h1 class="ml-5vw">Hello</h1>
    </div>
    <div class="w-80p flex-row">

    </div>
</section>


@code {

}
