@page "/recipepage"

<Navbar></Navbar>
<br/>
<br/>
<br/>
<RecipeForm IsOpen="false" MaxIngredients="20" MaxInstructions="200"></RecipeForm>

<section class="flex-column align-center Section">
    <div class="w-80p flex-row">
        <h1 class="fontfam-playfair RecipeList-Header dropShadow-Soft_gray-0_1vh fontSize-5vh">Recipes for You</h1>
    </div>
    <div class="w-100p flex-row" style="flex-wrap:wrap;">
        @for (int i = 0; i < 20; i++)
        {
            int loopi = i;
            //make this list work likke its supposed to please.
            <div class="flex-column w-33_3p justify-center align-center">
                <div class="noSelect imageeffet borderRad-6vh">
                    <img class="borderRad-6vh" src="Images/Spaghetti.jpg" />
                </div>
                <p class="text w-65p alignText-center">@(loopi). Feel Like a Million Bucks with This Baked Spaghetti Recipe</p>
            </div>
        }
    </div>
</section>


@code {

}
