@page "/recipepage"

<Navbar></Navbar>

<section class="mt-5vh flex-column align-center Section">
    <div class="w-80p flex-row">
        <h1 class="fontfam-playfair RecipeList-Header fontSize-5vh">Recipes for You</h1>
    </div>
    <div class="w-80p flex-row">
        <div class="">
            <div class="bordereffect imageeffet borderRad-6vh">
                <img class="borderRad-6vh" src="Images/Spaghetti.jpg" />
            </div>
            <p class="fontfam-playfair">Feel Like a Million Bucks with This Baked Spaghetti Recipe</p>
        </div>
    </div>
</section>


@code {

}
