<div class="navrow">
    <img class="logo" src="Images/Logo.png" />
    <div class="navbarinputmid">
        <input class="navbarinput" />
        <span class="material-symbols-outlined loupe">search</span>
    </div>
</div>

@code {

}
